{% extends 'blog/base.html'%}

{% block content %}
   <div class="content-section">

            <fieldset class="form-group">
                <legend class="border-bottom mb-4">ABOUT COMMUNITEXT</legend>
                <h2>The All Seeing Byakugan</h2>

            </fieldset>
            <div class="form-group">
               <p>CommuniText is all About sharing your stories with the world. Its about embracing the creativity of gifted
               brains while at the same time, it natures aspiring writers. Its a cake whose pieces can be shared with every
               soul passionate about what writing can do..</p>
                <p>SHARE YOUR STORY!</p>
            </div>

    </div>
{% endblock %}

